# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables (Sensitive Data)
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
*.local

# Google Indexing API Key
service-account.json

test-indexing.js
PageSpeed Insights.txt